name: PIC CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches:
      - develop
      - master
jobs:
  clang-format-check:
    runs-on: macos-11
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Install clang-format
        run: |
          brew install clang-format@8
      - name: Run clang format check
        run: |
          bash scripts/check-clang.sh

  mac-os-catalina-build-gcc:
    runs-on: macos-latest
    env:
      CC: gcc
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Build repository
        run: |
          mkdir build
          cd build
          sh -c 'cmake .. -DBUILD_TEST=TRUE;cmake .. -DBUILD_TEST=TRUE'
          make
          export AWS_KVS_LOG_LEVEL=7
          ./kvspic_test --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*"  

  mac-os-catalina-build-clang:
    runs-on: macos-latest
    env:
      CC: clang
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Build repository
        run: |
          mkdir build
          cd build
          sh -c 'cmake .. -DBUILD_TEST=TRUE -DCOMPILER_WARNINGS=TRUE;cmake .. -DBUILD_TEST=TRUE -DCOMPILER_WARNINGS=TRUE'
          make
          AWS_KVS_LOG_LEVEL=7 ./kvspic_test --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*"

  linux-gcc-code-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Build repository
        run: |
          mkdir build
          cd build
          cmake .. -DCODE_COVERAGE=TRUE -DBUILD_TEST=TRUE
          export AWS_KVS_LOG_LEVEL=7
          make
          ulimit -c unlimited -S
          timeout --signal=SIGABRT 40m ./kvspic_test --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*"
      - name: Code coverage
        run: |
          for test_file in $(find CMakeFiles/kvspic.dir CMakeFiles/kvspicClient.dir CMakeFiles/kvspicState.dir CMakeFiles/kvspicUtils.dir -name '*.gcno'); do gcov $test_file; done
          bash <(curl -s https://codecov.io/bash)

  address-sanitizer:
    runs-on: ubuntu-18.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Build repository
        run: |
          mkdir build
          cd build
          cmake .. -DBUILD_TEST=TRUE -DADDRESS_SANITIZER=TRUE
          export AWS_KVS_LOG_LEVEL=7
          make
          ulimit -c unlimited -S
          timeout --signal=SIGABRT 40m ./kvspic_test --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*"

  undefined-behavior-sanitizer:
    runs-on: ubuntu-latest
    env:
      CC: clang
      UBSAN_OPTIONS: halt_on_error=1:suppressions=../src/utils/tst/suppressions/UBSAN.supp
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Build repository
        run: |
          mkdir build
          cd build
          cmake .. -DBUILD_TEST=TRUE -DUNDEFINED_BEHAVIOR_SANITIZER=TRUE
          export AWS_KVS_LOG_LEVEL=7
          export CPATH=/usr/local/include
          export LIBRARY_PATH=/usr/local/lib
          export LD_LIBRARY_PATH=/usr/local/lib
          make
          ulimit -c unlimited -S
          timeout --signal=SIGABRT 40m ./kvspic_test --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*"

  memory-sanitizer:
    runs-on: ubuntu-latest
    env:
      CC: clang
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Build repository
        continue-on-error: true
        run: |
          mkdir build
          cd build
          cmake .. -DBUILD_TEST=TRUE -DUNDEFINED_BEHAVIOR_SANITIZER=TRUE
          export AWS_KVS_LOG_LEVEL=7
          make
          ulimit -c unlimited -S
          timeout --signal=SIGABRT 40m ./kvspic_test --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*"

  thread-sanitizer:
    runs-on: ubuntu-18.04
    env:
      TSAN_OPTIONS: halt_on_error=1:suppressions=../src/utils/tst/suppressions/TSAN.supp
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Build repository
        run: |
          mkdir build
          cd build
          cmake .. -DBUILD_TEST=TRUE -DTHREAD_SANITIZER=TRUE
          make
          AWS_KVS_LOG_LEVEL=7 ./kvspic_test --gtest_break_on_failure --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*:ThreadFunctionalityTest.ThreadCreateAndCancel"

  linux-gcc-4_4:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Install deps
        run: |
          sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6'
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo add-apt-repository 'deb http://archive.ubuntu.com/ubuntu/ trusty main'
          sudo add-apt-repository 'deb http://archive.ubuntu.com/ubuntu/ trusty universe'
          sudo apt-get -q update
          sudo apt-get -y install gcc-4.4
          sudo apt-get -y install gdb
      - name: Build repository
        run: |
          mkdir build
          cd build
          cmake .. -DBUILD_TEST=TRUE
          export AWS_KVS_LOG_LEVEL=7
          make
          ulimit -c unlimited -S
          timeout --signal=SIGABRT 40m ./kvspic_test --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*"

  windows-msvc:
    runs-on: windows-2019
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Setup MSVC 
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86
      - name: Build and run
        run: |
          mkdir build
          cd build
          cmake -G"Visual Studio 12" .. -DBUILD_TEST=TRUE
          cmake --build . --target INSTALL --config Release
          dir
          cd ..
          dir
          ./kvspic_test.exe --gtest_filter="-TimerQueueFunctionalityTest.*:HeapPerfTest.*:PermutatedStreamInfo/StateTransitionFunctionalityTest.ControlPlaneServiceCallExhaustRetry*:PermutatedStreamInfo/IntermittentProducerAutomaticStreamingTest.ValidateTimerInvokedBeforeTime*:PermutatedStreamInfo/IntermittentProducerAutomaticStreamingTest.ValidateTimerInvokedAfterFirstPeriod*:PermutatedStreamInfo/IntermittentProducerAutomaticStreamingTest.ValidateLastUpdateTimeOfStreamUpdated*:PermutatedStreamInfo/IntermittentProducerAutomaticStreamingTest.MultiTrackVerifyNoInvocationsWithSingleTrackProducer*:PermutatedStreamInfo/IntermittentProducerAutomaticStreamingTest.ValidateNoConsecutiveEOFR*:PermutatedStreamInfo/IntermittentProducerAutomaticStreamingTest.ValidateErrorOnForceConsecutiveEOFR*"
